body{
  background-color: #515151 !important;
  margin: 0 auto;
  padding: 0 auto;
}

.results-block {
  display: inline-block;
}

.no-padding{
  padding: 0 !important;
}

.left-padding{
  padding-left: 15px !important;
}

.logout{
  padding-left: 0;
}

.user-name{
  padding-top: 15px;
  color: #777 ;
}

.nav.navbar-right li{
  .btn{
    color: #fff !important;
    margin-top: 5%;
  }
  .btn-danger:hover{
    background-color: darken(#d9534f, 20%) !important;
  }
} 

.navbar-static-top{
  background-color: #303030;
  border-bottom: none;
}

a:hover{
  color: #BDBDBD !important;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #303030; // Choose your own color here
   color: #000;
   border: none;
 }
 
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   border: none;
 }
 
.table thead > tr > th {
  border-bottom: none;
}


.panel-body{
  background-color: #515151;
}

.panel{
  border: none;
  background-color: #515151;
}

.panel-heading{
  background-color: #515151 !important;
  border: none;
}

.form-control{
  background-color: #505050;
  color: #D1D1D1;
  border: #000;
  border-radius: 0px;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
}

.form-control:focus{
  box-shadow: none;
}

